@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Staatliches";
    color: white;
}

html, body {
    min-height: 100%;
}

html {
    background: #111;
}

body {
    min-height: 100vh;
    background: #111
}

p {
    margin: 16px auto;
    line-height: 1.5rem;
}

/* CUSTOM CLASSES */
.flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.full-screen-height {
    height: 100vh;
}
